span{
    background-color: red;
}
.title1{
    font-weight: bold;
}
.para1{
    color: red;
    font-weight: bold;
    font-size: 30px;
}
.footer{
    
    display: flex;
    justify-content: space-around;
}
.footer1{
    background-color: black;
}
ul{
    margin-right: 40px;
}
ul li , h4{
    list-style: none;
    font-size: 15px;
    margin-bottom: 20px;
}
input{
    background-color: black;
    outline: none;
    border: none;
}
.div1{
    border: 1px solid white;
    border-radius: 3px;
    padding: 7px;
}
.rso{
    display: flex;
    justify-content: space-between;
   
}
.cop{
    display: flex;
    justify-content: center;
    color: rgb(204, 204, 197);
}
.cop1{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}



